<section>
  <p>Song: {{song}}</p>
  <p>Artist: {{artist}}</p>
  <p>Album: {{album}}</p>
  <p>Rating: {{rating}}</p>
</section>
{{#if isCreator}}
  <div class='row'>
    <div class='col-md-1'>
      <button class='btn btn-sm btn-warning' data-id='{{id}}'>Edit</button>
    </div>
    <div class='col-md-1'>
      <button class='btn btn-sm btn-danger' data-id='{{id}}'>DELETE</button>
    </div>
  </div>
{{/if}}

<script src='/js/playlistEdit.js'></script>